h1 {
  color: SteelBlue;
  margin-bottom: 50px;
  font-weight: 800;
}

a {
  color: SteelBlue;
  text-decoration: none;
}

a:hover {
  color: LightSlateGrey;
  text-decoration: none;
}

h2 {
  color: SteelBlue;
  margin-top: 60px;
  font-weight: 800;
}

body {
  background-color: WhiteSmoke;
  font-family: Tahoma,Verdana,sans-serif;
  margin: 0;
  -webkit-text-size-adjust: 100%;
}

p {
  text-align: justify
}

ul {
  list-style-position: outside;
  padding-left: 1em;
}

li {
  list-style-type: "\22A2";
  display: list-item;
  padding-inline-start: 0.5em;
}

.content {
  padding-top: 5px;
  padding-bottom: 20px;
  padding-left: 40px;
  padding-right: 40px;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 260px;
  margin-right: 260px;
  background-color: White;
  border: 2px solid LightSlateGrey;
}