h1 {color:SteelBlue;margin-bottom:5%;}
a {color:SteelBlue;text-decoration: none;}
h2 {color:SteelBlue;margin-top:5%;}
body {background-color:WhiteSmoke; font-family:Tahoma;margin: 0;}

.content {padding-top:0.5%;padding-bottom:0.5%;padding-left:2.5%;padding-right:2.5%;
          margin-top: 3.5%;margin-bottom: 3.5%;margin-left: 18%;margin-right: 18%;
          background-color:White;
          border:2px solid LightSlateGrey;}